@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Nova+Round&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Fredoka", sans-serif;
    font-size: 22px;
    background-color:#9DC4FF;
}

.header {
    background-color: white;
    margin: 0% 20%;
}

.information-container {
    text-align: center;
}

.score-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #EFEFEF;
}

.score {
    font-size: 36px;
    font-weight: 600;
}

.computer-score {
    text-align: right;
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0px;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-container > button {
    width: 200px;
    height: 250px;
    font-family: "Fredoka", sans-serif;
    font-size: 24px;
    border-radius: 15px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.rock-btn {
    border: 3px solid #f72585;
    background-color: rgb(255, 255, 255);
    color: #f72585;
}

.rock-btn:hover {
    background-color: #f72585;
    color: #ecebeb;
}

.paper-btn {
    border: 3px solid #560bad;
    background-color: #fff;
    color: #560bad;
}

.paper-btn:hover {
    background-color: #560bad;
    color: #ecebeb;    
}

.scissors-btn {
    border: 3px solid #4361ee;
    background-color: #fff;
    color: #4361ee;
}

.scissors-btn:hover {
    background-color: #4361ee;
    color: #ecebeb;
}

